<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kindle-Like Reader</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="reader">
  <div class="toolbar">
    <div>
      <button onclick="decreaseFontSize()">A-</button>
      <button onclick="increaseFontSize()">A+</button>
      <button onclick="toggleNightMode()">Night Mode</button>
<!--      <button onclick="changeFont()">Font</button>-->
<!--      <button onclick="changeTheme()">Theme</button>-->
      <button onclick="speakText()">Speak</button>
      <button onclick="stopSpeaking()">Stop</button>
    </div>
    <div class="toolbar">
      <label for="languageSelection">Choose Language:</label>
      <select id="languageSelection" onchange="filterVoicesByLanguage()">
        <!-- Options will be populated dynamically -->
      </select>

      <label for="voiceSelection">Choose Voice:</label>
      <select id="voiceSelection" onchange="updateVoice()">
        <!-- Options will be populated by JavaScript -->
      </select>

    </div>

  </div>
  <div class="content">
     <p>
         {{ data }}
    </p>

    <!-- Add more paragraphs as needed -->
  </div>
</div>
<script src="../static/script.js"></script>
</body>
</html>
